.DS_Store
.Rproj.user
.Rhistory

data/.DS_Store
codes/.DS_Store
functions/.DS_Store
examples/.DS_Store
submissions/.DS_Store
pred_valid/.DS_Store
pred_public/.DS_Store

data/known.csv
data/public.csv
data/private.csv

data/data_unknown.rda
data/data_known.rda
data/demand_anonymized_20170802.csv
data/DSG_DataDictionary_20170905.xlsx
data/eval.csv
data/sample_submission.csv
data/eval_correct.csv
data/data_known_noNAs_first.rda
data/known_structured_19_30.rda
data/agg_data_all_features_dep_vars_22_00.rda
data/calibrationof_median.csv
data/calibrationof_median_more.csv
data/check_05.csv
data/check_ones.csv
data/counts_and_modes.rda
data/demand_1_plus_best.csv
data/demand_1_plus_best_mean.csv
data/demand_1_plus_best_meanof3.csv
data/imputed_demand.rda
data/moq.rda
data/subm_mean_boost.csv
data/subm_mean_boost_5models.csv
data/subm_mean_boost_adjusted.csv
data/subm_mean_boost_adjusted55.csv
data/subm_mean_boost_adjusted8575.csv
data/unknown.csv
data/~$DSG_DataDictionary_20170905.xlsx
