.DS_Store
.Rproj.user
.Rhistory

data/.DS_Store
codes/.DS_Store
functions/.DS_Store
examples/.DS_Store
submissions/.DS_Store
pred_valid/.DS_Store
pred_public/.DS_Store

data/known.csv
data/public.csv
data/private.csv

data/data_unknown.rda
data/data_known.rda
data/demand_anonymized_20170802.csv
data/DSG_DataDictionary_20170905.xlsx
data/eval.csv
data/sample_submission.csv
data/eval_correct.csv
data/data_known_noNAs_first.rda
data/known_structured_19_30.rda
